body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-64px;
  width:756px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:147px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
}
#u0 {
  position:absolute;
  left:64px;
  top:453px;
  width:756px;
  height:147px;
}
#u1 {
  position:absolute;
  left:2px;
  top:66px;
  width:752px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u2 {
  position:absolute;
  left:64px;
  top:42px;
  width:176px;
  height:29px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:58px;
}
#u4 {
  position:absolute;
  left:64px;
  top:70px;
  width:300px;
  height:170px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:58px;
}
#u5 {
  position:absolute;
  left:2px;
  top:50px;
  width:296px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u6 {
  position:absolute;
  left:520px;
  top:42px;
  width:176px;
  height:29px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:58px;
}
#u8 {
  position:absolute;
  left:520px;
  top:70px;
  width:300px;
  height:170px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
  font-size:58px;
}
#u9 {
  position:absolute;
  left:2px;
  top:50px;
  width:296px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
}
#u10 {
  position:absolute;
  left:397px;
  top:135px;
  width:90px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:110px;
}
#u12 {
  position:absolute;
  left:90px;
  top:476px;
  width:660px;
  height:110px;
  font-family:'Courier', 'Courier';
  font-style:normal;
  color:#FFFFFF;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  word-wrap:break-word;
}
#u14p000 {
  position:absolute;
  left:63px;
  top:328px;
  width:759px;
  height:3px;
}
#u14p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:3px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15 {
  position:absolute;
  left:66px;
  top:321px;
  width:752px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u16 {
  position:absolute;
  left:64px;
  top:370px;
  width:181px;
  height:22px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u18 {
  position:absolute;
  left:64px;
  top:657px;
  width:159px;
  height:22px;
  font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';
  font-weight:700;
  font-style:normal;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u20 {
  position:absolute;
  left:64px;
  top:698px;
  width:576px;
  height:32px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  word-wrap:break-word;
}
#u22p000 {
  position:absolute;
  left:63px;
  top:621px;
  width:759px;
  height:3px;
}
#u22p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:3px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23 {
  position:absolute;
  left:66px;
  top:614px;
  width:752px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u24 {
  position:absolute;
  left:64px;
  top:402px;
  width:576px;
  height:32px;
  font-family:'Helvetica', 'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  word-wrap:break-word;
}
